<div class="movie-info"> 
  <div class="rating <%= @movie.rt_rating > 50 ? 'rating-fresh' : 'rating-rotten' %>">
    <%= h(@movie.rt_rating) %>%
  </div>
  <h1><%= h(@movie.rt_title) %></h1>
  
  <div class="left-pane">
    <img width="144" height="204" src="<%= h(@movie.rt_img) %>" class="movie-image" />
    <div class="movie-links">
      <%= link_to 'Torrentz', @movie.tz_link, :id => 'movie_tz_link' %>
      <br/>
      <%= link_to 'RottenTomatoes', @movie.rt_link, :id => 'movie_rt_link' %>
    </div>
  </div>
  <%= @movie.rt_info %>
</div>